name: Quantum News Bot

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  send-news:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: last_link.txt
          key: last-link-cache

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        run: python main.py

      - name: Save cache
        uses: actions/cache@v3
        with:
          path: last_link.txt
          key: last-link-cache
